{% extends "csvcrud/base.html" %}
{% load static %}
{% block content %}
        <h2>Home</h2>
        <hr>
        <div class="card mb-3">
                <img class="card-img-top" src="{% static 'home.png' %}" alt="Card image cap">
                <div class="card-body">
                        <h5 class="card-title">SOLO MANAGER</h5>
                        <p class="card-text">A student administration system is a information management system for education establishments used to manage student data easily and more conveniently.</p>
                        <p class="card-text"><small class="text-muted">© <a href="https://www.mayursatav.com/">www.mayursatav.com</a>, Inc. All rights reserved.</small></p>
                </div>
        </div>
{% endblock content %}